<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250441676567-8v1tptdul9e9hnmleff6c8tcbvt6qduf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250441676567-8v1tptdul9e9hnmleff6c8tcbvt6qduf</string>
	<key>API_KEY</key>
	<string>AIzaSyDmm_rWXb7DHva3LOcZTost6T7LHUCYtv0</string>
	<key>GCM_SENDER_ID</key>
	<string>250441676567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyApp</string>
	<key>PROJECT_ID</key>
	<string>kit305-7baa4</string>
	<key>STORAGE_BUCKET</key>
	<string>kit305-7baa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250441676567:ios:a8271ec776316b417ea952</string>
</dict>
</plist>